In [5]:
import pandas as pd 
import numpy as np
from sklearn.impute import SimpleImputer

In [6]:
names  = pd.DataFrame({'Names':['Neha','Tannu','Honus','Wagner',np.nan]})

In [7]:
names

    Names
0    Neha
1   Tannu
2   Honus
3  Wagner
4     NaN